quart
quart_session
python-telegram-bot
pillow
python-dotenv
websockets
keyboard
speechrecognition
aiohttp
flask
flask_sqlalchemy
asyncpg
tortoise-orm
sqlalchemy
pydub
sounddevice
numpy
requests

flask-sqlalchemy
routes
