<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <canvas id="backgroundCanvas"></canvas>
    <div class="container">
        <h1>Registration</h1>
        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <p id="password-error" style="color: red; font-size: 13px; display: none; margin-top: -10px;"></p>

            <button type="submit">Register</button>
        </form>
        
        <!-- Ссылка на вход. -->
        <a href="/login" class="login-link">Already have an account? Login</a>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>
